.container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    padding: 10px;
}
.row{
    grid-template-rows: auto auto auto;
    background-color: aliceblue;
    border: 1px solid whitesmoke;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.row-1 .column{
    grid-template-rows: auto auto auto;
    background-color: aliceblue;
    border: 1px solid whitesmoke;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}